@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.logo { /*This CSS code determines the size of my logo on the navigation bar */
    width:250px;
    height: 200px;
}

.rownavbar{ /*Determines the size of the table that organises my navigation bar at the top of the page*/ 
    width: 100%;
}

body {
    padding:0;
    margin: 0;
}

.innertable { /*Determines the size and alignment of the table that organises my navigation bar at the top of the page*/ 
    text-align: center;
    width:100%;
}
header a { /*This part determines specifics for the buttons on my navigation bar*/
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    border: solid 4px #98D4C9;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px black;
    text-align:justify;
    position: relative;
}


header  a:hover{ /*Changes the colour of the buttons on the navigation bar when the user hover over it */
    color: #98D4C9;
}

.navbar { 
    background-color:#75BECC;  
    border:solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
}

body img { 
    width: 500px;
    height: 300px;
}

.banner h1 {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    padding: 45px 35px 0 70px;
}

.banner img {
    padding: 45px 100px 0 300px;
    height:350px;
    width:500px;
}

.banner p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.banner{
    border-top:hidden;
    border-right: solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;  
}

.page p{
    margin:0;
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-top:hidden;
    border-right:solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
}

 .footer { /*This for the footer.*/
    margin:0;
    font-size: 10px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    font-family: 'Open Sans', sans-serif;
    background-color:#75BECC;      
    border-top:hidden;
    border-right:solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
 }

 .footer a { 
    color:black;
    text-decoration: none;
    margin: 5px;
 }

 .footer a:hover {
     color:cadetblue;
 }

.whatisncea { /*Below code is for the text on the page 'What is NCEA?'*/
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top:hidden;
    border-right: solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black; 
}

 .whatisncea p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 15px;

 }

 .nceatable { /*Below codes for the table that displays the number of credits needed for each level*/
    border-collapse: collapse;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 98%;
 }

 .nceatable td, th, tr {
    border: 2px solid black;
    padding: 5px;
 }  

 .iframetable table{ /*Below code is for the video*/
     float: right;
     padding: 12px;
 }

 h4 { /*Credit for the video*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
 }

 .subjecttable { /*Below is the CSS code for the table in the 'Subjects' Page*/
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
 }

 .subjecttable table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
 }
 
 .subjecttable tr{
     border: none;
 }

 .subjecttable td {
     border-right: 1px solid black;
     border-left: 1px solid black;
     padding: 5px;
 }
 
 .text h3, p { /*Below is the CSS for the body text in 'How To Nail Exams'*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 20px;
    margin-top: 0;
 }

 .text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    padding: 20px;
    background: rgba(114, 218, 247, .4);
 }

 .text h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    padding: 20px;
 }

 .text {
    border-top:hidden;
    border-right: solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;  
 }