@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.logo {
    width:250px;
    height: 200px;
}

.rownavbar{
    width: 100%;
}

body {
    padding:0;
    margin: 0;
}

.innertable {
    text-align: center;
    width:100%;
}
header a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    border: solid 4px #98D4C9;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px black;
    text-align:justify;
    position: relative;
}


header  a:hover{
    color: #98D4C9;
}

.navbar { 
    background-color:#75BECC;  
    border:solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
}

body img {
    width: 500px;
    height: 300px;
}

.banner h1 {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    padding: 45px 35px 0 70px;
}

.banner img {
    padding: 45px 100px 0 300px;
    height:350px;
    width:500px;
}

.banner p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.banner{
    border-top:hidden;
    border-right: solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;  
}

.page p{
    margin:0;
    text-align: center;
    padding: 20px 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border-top:hidden;
    border-right:solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
}

.page {
    background-color:#75BECC;      
 }

 .footer {
    margin:0;
    font-size: 10px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    font-family: 'Open Sans', sans-serif;
    border-top:hidden;
    border-right:solid #27c2ff 5px;
    border-bottom: solid #27c2ff 5px;
    border-left: solid #27c2ff 5px;
    box-shadow: inset 0 0 10px black;
 }

 .footer a { 
    color:black;
    text-decoration: none;
    margin: 5px;
 }

 .footer a:hover {
     color:cadetblue;
 }

 .whatisncea p {
    font-family: 'Roboto Condensed', sans-serif;
     font-size: 22px;
     padding: 10px 10px 10px 10px;
     margin: 0;
     border-top:hidden;
     border-right: solid #27c2ff 5px;
     border-bottom: solid #27c2ff 5px;
     border-left: solid #27c2ff 5px;
     box-shadow: inset 0 0 10px black; 
 }